<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="ApplicationInsightsInstrumentationKey" value="a9bf3018-73aa-46eb-b697-e3446b1689a8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="auth0:ClientId" value="n38r4dOstj8HEWyAxIDbAtYhC65Nh7bs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="auth0:ClientSecret" value="NEViF1O5MDaMLgc5kvmAb7fzplkRKrfzadYmhaq1UeZds_V8rDtze6HH7WCJLr8U" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="auth0:Issuer" value="https://openenergi.eu.auth0.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--<add key="auth0:Issuer" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    <add key="auth0:Domain" value="openenergi.eu.auth0.com" />

  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
  </system.web>
  <system.webServer>
    <applicationInitialization doAppInitAfterRestart="true" skipManagedModules="false" xdt:Transform="Replace">
      <add initializationPage="warmup/index/thisrequestisfromappinit" hostName="flex-entity-api.azurewebsites.net"/> 
    </applicationInitialization>

      <urlCompression  xdt:Transform="Remove" />
      <urlCompression doStaticCompression="true" doDynamicCompression="true" xdt:Transform="InsertIfMissing"/>
      <httpCompression  xdt:Transform="Remove" />
      <httpCompression xdt:Transform="InsertIfMissing">
        <dynamicTypes>
          <clear />
          <add enabled="true" mimeType="text/*"/>
          <add enabled="true" mimeType="message/*"/>
          <add enabled="true" mimeType="application/x-javascript"/>
          <add enabled="true" mimeType="application/javascript"/>
          <add enabled="true" mimeType="application/json"/>
          <add enabled="false" mimeType="*/*"/>
          <add enabled="true" mimeType="application/xml"/>
          <add enabled="true" mimeType="application/xml;charset=utf-8"/>
          <add enabled="true" mimeType="application/atom+xml"/>
          <add enabled="true" mimeType="application/atom+xml;charset=utf-8"/>
        </dynamicTypes>
        <staticTypes>
          <clear />
          <add enabled="true" mimeType="text/*"/>
          <add enabled="true" mimeType="message/*"/>
          <add enabled="true" mimeType="application/javascript"/>
          <add enabled="true" mimeType="application/atom+xml"/>
          <add enabled="true" mimeType="application/xml"/>
          <add enabled="true" mimeType="application/xaml+xml"/>
          <add enabled="true" mimeType="application/json"/>
          <add enabled="false" mimeType="*/*"/>
        </staticTypes>
      </httpCompression>
  </system.webServer>  
</configuration>