<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://flex-entity-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>flex-entity-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Flex-Entity-Api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Flex-Entity-Api</UserName>
    <Password>6ebkFp2ijKWThPXslo9288ehdaghbiNqWiLlZdzSL1Z7BpljLTCSkBEwSZ9g</Password>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MetaSchemaRepositoryContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:flex-opdb.database.windows.net,1433;Initial Catalog=Flex;Persist Security Info=False;User ID=oedev;Password=Password1234;MultipleActiveResultSets=True; Pooling = True; Min Pool Size=1; Max Pool Size=50;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;" Name="Flex-Entity-Api-AzureStaging" />
          <Object Type="DbDacFx" Enabled="True">
            <PreSource Path="Data Source=(local);Initial Catalog=Flex;Integrated Security=True;Pooling=True;Min Pool Size=1;Max Pool Size=50;Connect Timeout=15;Application Name=Flex.Entity.Api" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MetaSchemaRepositoryContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(local); Initial Catalog=Flex; Integrated Security=True; MultipleActiveResultSets=True; Pooling = True; Min Pool Size=1; Max Pool Size=50;Connect Timeout=15;Application Name=Flex.Entity.Api" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <Target Name="DefineCustomFiles">
    <ItemGroup>
      <CustomFilesToInclude Include="App_Data\**\*.xml">
        <Dir>App_Data</Dir>
      </CustomFilesToInclude>
      <CustomFilesToInclude Include="bin\**\*.dll">
        <Dir>bin</Dir>
      </CustomFilesToInclude>
    </ItemGroup>
  </Target>
  <Target Name="PublishCustomFiles" DependsOnTargets="PostBuildEvent;DefineCustomFiles">
    <ItemGroup>
      <FilesForPackagingFromProject Include="@(CustomFilesToInclude)">
        <DestinationRelativePath>%(CustomFilesToInclude.Dir)\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
        <Exclude>False</Exclude>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>
  <PropertyGroup>
    <CopyAllFilesToSingleFolderForMsdeployDependsOn>PublishCustomFiles;
      ;</CopyAllFilesToSingleFolderForMsdeployDependsOn>
    <!--<CopyAllFilesToSingleFolderForPackageDependsOn>
      PublishCustomFiles;
      $(CopyAllFilesToSingleFolderForPackageDependsOn);
    </CopyAllFilesToSingleFolderForPackageDependsOn>-->
    <ExcludeFilesFromDeployment>bin\**\*.config;bin\**\*.XML</ExcludeFilesFromDeployment>
    <ExcludeFoldersFromDeployment>bin\Infrastructure;bin\License</ExcludeFoldersFromDeployment>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MetaSchemaRepositoryContext-Web.config Connection String">
      <ParameterValue>Server=tcp:flex-opdb.database.windows.net,1433;Initial Catalog=Flex;Persist Security Info=False;User ID=oedev;Password=Password1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>