<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>.\LocalPublish\Flex.Entity.Api</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <Target Name="DefineCustomFiles">
    <ItemGroup>
      <CustomFilesToInclude Include="App_Data\**\*.xml">
        <Dir>App_Data</Dir>
      </CustomFilesToInclude>
      <CustomFilesToInclude Include="bin\**\*.dll">
        <Dir>bin</Dir>
      </CustomFilesToInclude>
    </ItemGroup>
  </Target>
  <Target Name="PublishCustomFiles"  DependsOnTargets="PostBuildEvent;DefineCustomFiles">
    <ItemGroup>
      <FilesForPackagingFromProject Include="@(CustomFilesToInclude)">
        <DestinationRelativePath>%(CustomFilesToInclude.Dir)\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
        <Exclude>False</Exclude>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>
  <PropertyGroup>
    <!--<CopyAllFilesToSingleFolderForMsdeployDependsOn>CustomCollectFiles</CopyAllFilesToSingleFolderForMsdeployDependsOn>-->
    <CopyAllFilesToSingleFolderForPackageDependsOn>
      PublishCustomFiles;
      $(CopyAllFilesToSingleFolderForPackageDependsOn);
    </CopyAllFilesToSingleFolderForPackageDependsOn>
    <ExcludeFilesFromDeployment>bin\**\*.config;bin\**\*.XML</ExcludeFilesFromDeployment>
    <ExcludeFoldersFromDeployment>bin\Infrastructure;bin\License</ExcludeFoldersFromDeployment>
  </PropertyGroup>

</Project>